<div class="card">
    {{#if header-text}}
        <div class="card-header">
            {{{header-text}}}
        </div>
    {{/if}}
    {{#if body-text}}
        <div class="card-body">
            {{{body-text}}}
        </div>
    {{/if}}
</div>