<p>
    XNOR would be <span style="color:green;">TRUE</span> <b>if and only if:</b>
    <ul style="list-style:none;">
        <li>
            <span style="color:orange;">Both</span> Boolean Arguments Are
            <span style="color:green;">TRUE</span>
        </li>
        <li>
            <span style="color:orange;">OR</span>
        </li>
        <li>
            <span style="color:orange;">Both</span> Boolean Arguments Are
            <span style="color:red;">FALSE</span>
        </li>
    </ul>
    
    Thus
    
    XNOR ONE will be <span style="color:green;">TRUE</span> <b>if and only if:</b> 
    <br>
    The other Argument would be <span style="color:green;">TRUE</span>
    <br>
</p>