<div class="projects-description">
    <h4>Description</h4>
    <p>
        All of us humans have some occasions in our lives, which these days are very dear to us. We usually spend these days with our loved ones, and a sweet part of it is giving and receiving gifts! However, one question always makes things difficult, and that is 'What should I buy as a gift?'
        <br>
        You can visit our website and create a list of things you like and need. You can prioritize them, deciding which ones are more important. Then, you can share this list with your friends and family.
        <br>
        By doing this, you not only make yourself happier but also make it easier for your loved ones. Moreover, you can share the dates of your special occasions so that those who care about you can be with you on that day.
    </p>
</div>
<a href="https://wish.xnor.one">
    <img src="https://wish.xnor.one/frontend/images/Wish.png"
        alt="wish logo"
        class="projects-logo"
        >
</a>
<div>
    <b>Platform:</b> Web
</div>
<div>
    <b>SDLC:</b> Pre-Alpha
</div>
