<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body dev-card-body">
                <img src="./dev-pics/Ali-20230929.jpg" class="dev-pics"/>
                <br/>
                &#X1F9D1; Ali Hakami
                <br/>
                &#X1F4E7; dev.abi.log [at] google
                <br/>
                <img src="./thirdparty/github-mark.png" class="third-logo"/>
                <a href="https://github.com/abilogos">Abilogos</a>
                <br/>
                <img src="./thirdparty/stack-overflow.png" class="third-logo"/>
                <a href="https://stackoverflow.com/users/9287628/abilogos">Abilogos</a>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body dev-card-body">
                <img src="./dev-pics/Leyla-20230929.jpg" class="dev-pics"/>
                <br/>
                &#X1F469; Leyla Sabouri
                <br/>
                &#X1F4E7; dev.leyla.sabouri [at] google
                <br/>
                <img src="./thirdparty/github-mark.png" class="third-logo"/>
                <a href="https://github.com/leylalogos/">Leylalogos</a>
                <br/>
                <img src="./thirdparty/linked-in.png" class="third-logo"/>
                <a href="https://www.linkedin.com/in/leyla-sabouri-37297819a/">Leyla Sabouri</a>
            </div>
        </div>
    </div>
</div>
