<div class="row justify-content-center">
    {{>developer 
        img-src="./dev-pics/Ali-20230929.jpg"
        name="Ali Hakami"
        isMale=true
        email="dev.abi.log [at] google"
        github-url="https://github.com/abilogos"
        github-name="Abilogos"
        stackoverflow-url="https://stackoverflow.com/users/9287628/abilogos"
        stackoverflow-name="Abilogos"
    }}
    {{>developer 
        img-src="./dev-pics/Leyla-20230929.jpg"
        name="Leyla Sabouri"
        isMale=false
        email="dev.leyla.sabouri [at] google"
        github-url="https://github.com/leylalogos"
        github-name="Leylalogos"
        linkedin-url="https://www.linkedin.com/in/leyla-sabouri-37297819a/"
        linkedin-name="Leyla Sabouri"
    }}
</div>
